@page
@model CAH.Pages.GamePage
@{
    ViewData["Title"] = "Cards Against Quarantine";
}
@if (Model.CurrentGame == null)
{
    <b>Some error occured, please try again!</b>
    return;
}
<div id="game">
    <div id="players">
        
    </div>
    <div id="table-black">
        <div class="card black">
            
        </div>
    </div>
    <div id="table-right">
        <div id="table-white">
                
        </div>
        <div id="player-actions">
            <button id="player-action-play-card">
                Play Selected
            </button>
            <button id="player-action-give-points">
                Give Points
            </button>
        </div>
    </div>
    
    <div id="player-hand">
        <div class="card white"> 
             
        </div>
        <div class="card white"> 
             
        </div>
        <div class="card white"> 
             
        </div>
        <div class="card white"> 
             
        </div>
        <div class="card white"> 
            
        </div>
        <div class="card white"> 
            
        </div>
        <div class="card white"> 
            
        </div>
        <div class="card white"> 
             
        </div>
        <div class="card white"> 
            
        </div>
        <div class="card white"> 
            
        </div>
    </div>
</div>
 <script src="~/js/game.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/gameHub.js"></script>